repos:
  - hooks:
      - id: commitizen
        stages:
          - commit-msg
    repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
  - hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
    repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
  - hooks:
      - id: gitleaks
    repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
  - hooks:
      - id: end-of-file-fixer
      - args:
          - --markdown-linebreak-ext=md
        id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
